@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosResult>

@if (TempData["Resultado"] != null)
{
    <div class="alert alert-info">@TempData["Resultado"]</div>
}


<h2>Consultar Cobros</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#Cobro</th>
            <th>#Casa</th>
            <th>Propietario</th>
            <th>Periodo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cobro in Model)
        {
            <tr>
                <td>@cobro.Id_cobro</td>
                <td>@cobro.Nombre_casa</td>
                <td>@cobro.Cliente</td>
                <td>@($"{cobro.Mes:D2}/{cobro.Anno}")</td>
                <td>@cobro.Estado</td>
                <td>
                    @Html.ActionLink("Editar", "GestionarCobro", "Condominio", new { id = cobro.Id_cobro }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Editar", "GestionarCobro", "Condominio", new { id = cobro.Id_cobro }, new { @class = "btn btn-primary" })
                    <form action="@Url.Action("EliminarCobro", "Condominio")" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@cobro.Id_cobro" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar este cobro?');">Eliminar</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
