@model PVI_ProyectoFinal.Models.ModelCobro

<h2>Actualizar Cobro</h2>

<form method="post" id="cobroForm">
    @Html.HiddenFor(model => model.Id)

    <div class="mb-3">
        <label class="form-label" for="IdCasa">Casa:</label>
        <select id="IdCasa" name="IdCasa" class="form-control">
            <option value="">Seleccione una casa</option>
            @foreach (var casa in (List<SelectListItem>)ViewBag.Casas)
            {
                <option value="@casa.Value" @(casa.Value == Model.IdCasa.ToString() ? "selected" : "")>@casa.Text</option>
            }
        </select>
    </div>



    <div class="mb-3">
        <label class="form-label" for="Mes">Mes:</label>
        @Html.TextBoxFor(model => model.Mes, new { type = "number", min = "1", max = "12", @class = "form-control" })
    </div>

    <div class="mb-3">
        <label class="form-label" for="Anno">Año:</label>
        @Html.TextBoxFor(model => model.Anno, new { type = "number", min = "2024", max = "2034", @class = "form-control" })
    </div>

    <div class="mb-3">
        <label class="form-label" for="Monto">Monto:</label>
        @Html.TextBoxFor(model => model.Monto, new { type = "number", step = "0.01", @class = "form-control" })
    </div>

    <div class="mb-3">
        <label class="form-label" for="ServiciosSeleccionados">Servicios:</label>
        @foreach (var servicio in (List<SelectListItem>)ViewBag.Servicios)
        {
            <div class="form-check">
                <input type="checkbox"
                       id="service_@servicio.Value"
                       name="ServiciosSeleccionados"
                       value="@servicio.Value"
                       @(Model?.ServiciosSeleccionados != null && Model.ServiciosSeleccionados.Contains(int.Parse(servicio.Value)) ? "checked" : "") />
                <label class="form-check-label" for="service_@servicio.Value">@servicio.Text</label>

            </div>
        }
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar Cobro" />
</form>
